.header{
  background:rgba(128,242,128,1.0);
  font-size:20px;
}
.nav-links{
  list-style-type:none;
  margin:0;
  padding:0;
}
.banner ul{
  list-style:none;
  padding:0;
  margin:0
}
.card-container{
  margin-top:35px;
}
.card-title{
  font-size:24px;
  font-weight:bold;
  color:rgba(26,26,26,1.0);
  margin-bottom:2px;
}
.card-nav{
  height: 5px;
  width: 100%;
  background:rgba(242,242,242,1.0);
  margin-bottom:20px;
  position:relative;
}
.card-link{
  position:absolute;
  right:0;
  bottom:3px;
  width:25px;
  height:25px;
}
.card-content{
  background:rgba(242,242,242,1.0);
  padding:20px 25px;
}
.card-content.white{
  background:#fff;
}
.welcome-header{
  background:rgba(205,250,207,1);
  padding:35px 15px 15px;
  position:relative;
}
.welcome-area{
  position:absolute;
  left: 0;
  top: 0;
}
.title{
  color: rgb(16,121,57);
  font-size:36px;
  font-weight:bold;
  margin-left:20px;
  padding-top:20px;
}
.sm-links{
  border-top:1px solid rgba(0,0,0,.2);
}
.sm-links a{
  width: 15%;
  display:inline-block;
  padding:0;
  margin:0;
  font-size:16px;
  font-weight:bold;
  text-align:center;
  color:rgb(0,42,0);
}
.sm-links a.active{
  color:rgb(92,148,110);
}
.contact{
  float: right;
  margin-top: 30px;
}
.nav-header{
  background:rgba(128,242,128,1.0);
  padding-left:220px;
}
.link{
  display:inline-block;
  color:rgb(0,42,0);
  width: 120px;
  height: 40px;
  line-height:40px;
  font-size: 18px;
  text-align:center;
  font-weight: 700;
}
.link a{
  color:rgb(0,42,0);
}
.link a:hover{
  color:rgb(92,148,110);
}
.link.active a{
  color:rgb(92,148,110);
}
.link.active{
  background:rgba(205,250,207,1);
}
.image-desc{
  background:rgba(179,179,179,1.0);
  color:#fff;
  text-align:center;
  font-size:20px;
  margin-top:6px;
}
.article{
  background:rgba(242,242,242,1.0);
  color:rgb(24,24,24);
  font-size:15px;
  padding:5px 15px;
  margin-top:10px;
  position:relative;
  display:block;
}
.article-date{
  position:absolute;
  right: 14px;
  bottom: 9px;
}
.tab-item{
  display: inline-block;
  margin-bottom: -6px;
  cursor:pointer;
}
.tab-item.selected{
  border-bottom: 5px solid rgba(26,26,26,.5);
}
.tab-container{
  list-style:none;
  padding:0;
  margin-top: 35px;
  padding-bottom: 2px;
  border-bottom: 5px solid rgba(242,242,242,1.0);
}
.footer{
  background:rgba(10,104,59,1.0);
  padding-top: 30px;
  margin-top: 20px;
}
.site-map{
  background: rgba(214,251,216,1.0);
  padding: 30px 20px;
}
.site-map dl:first-child{
  margin-left:20px;
}
.site-map dl{
  margin-left:100px;
  float:left;
}
.site-map dt{
  margin-bottom:12px;
}
.site-map a{
  color:#292b2c;
}
.copyright{
  text-align: center;
  color:#fff;
  padding: 10px 0;
}
.copyright p{
  margin-bottom:2px;
}
.copyright a{
  color:#fff;
}
.latest-article{
  width:100%;
  position:relative;
}
.latest-article img{
  position:absolute;
  left: 6px;
  top: 0;
}
.latest-article .article{
  display:inline-block;
  margin-top:0;
  margin-left:185px;
}
#tab-area img{
  width: 100%;
}

.unslider{overflow:auto;margin:0;padding:0}.unslider-wrap{position:relative}.unslider-wrap.unslider-carousel>li{float:left}.unslider-vertical>ul{height:100%}.unslider-vertical li{float:none;width:100%}.unslider-fade{position:relative}.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}.unslider-fade .unslider-wrap li.unslider-active{z-index:10}.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer}.unslider-arrow.next{left:auto;right:20px}
.unslider-nav ol {
  list-style: none;
  text-align: center;
}
.unslider-nav ol li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 4px;
  background: transparent;
  border-radius: 6px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid #fff;
  cursor: pointer;
}
.unslider-nav ol li.unslider-active {
  background: #fff;
  cursor: default;
}
.list{
  list-style-type:none;
  margin:0;
  padding:0;
}
.list li{
  font-size:20px;
  padding: 10px 0;
}
.list a{
  color: #292b2c;
}
.news-title{
  text-align:center;
}
.news-date{
  text-align:right;
}
.image-container{
  display:block;
}
.product-image{
  width: 400px;
  margin: 0 auto;
  display:block;
}
.product-detail{
  margin-top: 25px;
}
.join-table{
  width: 85%;
  margin: 20px auto 0;
}
.join-table td{
  padding-left: 20px;
}
.image-viewer{
  list-style:none;
  padding: 0;
}
.image-viewer li{
  margin-top: 20px;
}
.image-viewer li img{
  width: 100%;
  cursor:pointer;
}
.reminder{
  margin-top:-20px;
  font-weight:700;
  font-size:16px;
  color:rgba(1,1,1,.5);
}
a.product-link{
  text-decoration:none;
}
